
.tip {
	position: fixed;
	top: 0;
	left: 0;

	opacity: 1;
	transition: opacity 0.3s;
}

.tip-button {
	color: #ccd;
	background: #444;
	border: 2px solid #ccd;
	border-radius: 4px;
	padding: 0.5em;

	transition: 0.3s;

	cursor: pointer;
	outline: none;
}

.tip-button:hover {
	color: #444;
	background: #ccd;
	border: 2px solid #ccd;
}
